<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <title>Welcome To | GAL</title>
    <link rel='icon' href='images/favicon.ico' type='image/x-icon'>
    <!-- Bootstrap Core Css -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <!-- Waves Effect Css -->
    <link rel="stylesheet" href="./js/waves.css" />
    <!-- Animation Css -->
    <link href="css/animate-css/animate.css" rel="stylesheet" />

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/themes/all-themes.css" />
  </head>
  <body class="theme-blue-grey">
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a> -->
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="index.html">GAL : Genome Annotator Light</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">

            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
      <!-- Left Sidebar -->
      <aside id="leftsidebar" class="sidebar">
          <!-- User Info -->
          <div class="user-info">
              <div class="image">
                  <img src="images/logoCnGLabIICB.png" width="48" height="48" alt="User" />
              </div>
              <div class="info-container">
                  <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Arijit Panda</div>
                  <div class="email">rjit17@gmail.com</div>
                  <div class="btn-group user-helper-dropdown">
                      <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                      <ul class="dropdown-menu pull-right">
                          <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                          <li role="seperator" class="divider"></li>
                          <li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>
                          <li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>
                          <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>
                          <li role="seperator" class="divider"></li>
                          <li><a href="javascript:void(0);"><i class="material-icons">input</i>Sign Out</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <!-- #User Info -->
          <!-- Menu -->
          <div class="menu">
              <ul class="list">
                  <li class="header">MAIN NAVIGATION</li>
                  <li class="active">
                      <a href="index.html">
                          <i class="material-icons">home</i>
                          <span>Home</span>
                      </a>
                  </li>
                  <li>
                      <a href="query.php">
                          <i class="material-icons">text_fields</i>
                          <span>QUERY</span>
                      </a>
                  </li>
                  <li>
                      <a href="blast.php">
                          <i class="material-icons">toc</i>
                          <span>Blast</span>
                      </a>
                  </li>
                  <li>
                      <a href="upload.php">
                          <i class="material-icons">widgets</i>
                          <span>Genome Upload</span>
                      </a>
                  </li>
                  <li>
                      <a href="Help.php">
                          <i class="material-icons">layers</i>
                          <span>Helper Classes</span>
                      </a>
                  </li>
              </ul>
          </div>            
          <!-- #Menu -->
          <div  class="user-info">
          <span> organism</span>
          <span>abc</span>
          </div>
          <!-- Footer -->
          <div class="legal">
              &copy; 2020-2021
              <div class="copyright">
                   <a href="javascript:void(0);">Computational Genomics Lab</a>
              </div>
              <div class="version">
                  <b>Version: </b> 1.1
              </div>
          </div>
          <!-- #Footer -->
      </aside>
      <!-- #END# Left Sidebar -->
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="block-header">
          {{{body}}}
        </div>
      </div>
    </section>
    <!-- Jquery Core Js -->
    <script src="./js/jquery.min.js"></script>
    
    <!-- Bootstrap Core Js -->
    <script src="./js/bootstrap.min.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="./js/waves.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="./js/jquery.slimscroll.js"></script>

    <!-- Custom Js -->
    <script src="./js/admin.js"></script>
  </body>
</html>