name: GAL

on:
  workflow_dispatch:

  release:
    types: [published]

  # Run tests for any PRs.
  pull_request:

env:
  IMAGE_NAME: image
  repo_1: ${{ secrets.DOCKER_USERNAME }}/gal:latest
  repo_2: ${{ secrets.DOCKER_USERNAME }}/gal:1.0

jobs:
  # Run tests.
  # See also https://docs.docker.com/docker-hub/builds/automated-testing/
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push for latest
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ env.repo_1 }}

      - name: Build and push for specific version
          id: docker_build
          uses: docker/build-push-action@v2
          with:
            push: true
            tags: ${{ env.repo_1 }}
